<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quilt.dao.TagDAO">
  <resultMap id="BaseResultMap" type="com.quilt.entity.Tag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="font_size" jdbcType="VARCHAR" property="fontSize" />
    <result column="font_color" jdbcType="VARCHAR" property="fontColor" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tag_name, font_size, font_color, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.quilt.entity.Tag">
    insert into tag (id, tag_name, font_size, 
      font_color, create_time)
    values (#{id,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{fontSize,jdbcType=VARCHAR}, 
      #{fontColor,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.quilt.entity.Tag">
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="fontSize != null">
        font_size,
      </if>
      <if test="fontColor != null">
        font_color,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="fontSize != null">
        #{fontSize,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null">
        #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.quilt.entity.Tag">
    update tag
    <set>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="fontSize != null">
        font_size = #{fontSize,jdbcType=VARCHAR},
      </if>
      <if test="fontColor != null">
        font_color = #{fontColor,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quilt.entity.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      font_size = #{fontSize,jdbcType=VARCHAR},
      font_color = #{fontColor,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllTags" resultMap="BaseResultMap" >
    select  * from  tag
  </select>

  <select id="getTagCount" resultType="java.lang.Integer">
    select count(*) from tag
  </select>


</mapper>